<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- LUXON  -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/luxon/3.3.0/luxon.min.js' integrity='sha512-KKbQg5o92MwtJKR9sfm/HkREzfyzNMiKPIQ7i7SZOxwEdiNCm4Svayn2DBq7MKEdrqPJUOSIpy1v6PpFlCQ0YA==' crossorigin='anonymous'></script>

    
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue@next"></script>
  <title>milestone 4</title>
</head>
<body>
<div class="second-header"></div>
<div class="app-wrapper">
  <div id="app">
    <div class="main-container">
      <div class="sidebar">
        <input type="text" v-model="search" @input="filterContacts" placeholder="Cerca contatti...">
        <div class="contacts">
          <div class="contact" v-for="contact in filteredContacts" :key="contact.id" @click="setActiveContact(contact)">
            <img :src="'img/' + contact.avatar" :alt="contact.name" class="avatar">
            <div class="contact-info">
              <h4>{{ contact.name }}</h4>
              <p>{{ contact.lastMessage }}</p>
              <p class="info-name-date">{{ formatDate(contact.lastMessageDate) }}</p>

            </div>
          </div>
        </div>
      </div>
      <div class="chat">
        <div class="header" :style="{ 'background-color': activeContactColor }">
          {{ activeContact.name }}
        </div>
        <div class="messages" :style="{ 'background-image': 'url(img/mine.jpg)' }">
          <div class="message" :class="message.type" v-for="message in messages" :key="message.id">
            {{ message.text }}
          </div>
        </div>
        <div class="input-container">
          <input type="text" v-model="inputMessage" @keydown.enter="sendMessage" placeholder="Scrivi un messaggio...">
          <button @click="sendMessage">Invia</button>
        </div>
      </div>
    </div>
  </div>
</div>
  
<script src="js/script.js"></script>
</body>
</html>
